<h1>映画検索結果</h1>
<div>
  <% if @movie_results.blank? %>
    <p>[<%= @search_term %>]と一致する情報が見つかりませんでした</p>
  <% else %>
    <p><%= @search_term %>　の検索結果</p>
    <table class="table table-bordered">
      <tr>
        <th class="table_poster">ポスター</th>
        <th class="table_title">タイトル</th>
        <th class="table_release">上映日</th>
      </tr>
      <% @movie_results.each do |movie| %>
        <tr>
          <td><%= image_tag("https://image.tmdb.org/t/p/w200/#{movie["backdrop_path"]}", :alt => 'poster') %></td>
          <td nowrap class="table_title_td"><%= link_to movie["title"], action: 'show', id: "#{movie["id"]}" %></td>
          <td><%= movie["release_date"] %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>